.lista-suspensa{
    display: flex;
    flex-direction: column;
    gap: 1em;
    padding: 0 2em;
}

.lista-suspensa__texto{
    font-weight: 600;
    font-size: 18px;
    font-family: var(--font-montserrat);
}

.lista-supensa__lista{
    background-color: var(--cor-branca);
    border: none;
    box-shadow: 8px 8px 16px  rgba(0, 0, 0, 0.3);
    padding: 2em .5em;
    width: 100%;
    border-radius: .5em;
}

.lista-supensa__lista option
{
    font-size: 400;
    font-size: 16px; 
    font-family: var(--font-montserrat); 
}

.lista-supensa__lista:active{
    font-size: 400;
    font-size: 16px; 
    font-family: var(--font-montserrat);
}

